
/**
* -------------
* Global Styles
* -------------
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body {
  /* Default font family and font color */
  width: 1440px;
  height: 5896px;
  margin: 0 auto;
}

h1 {
  /* Default font, size, and margins */
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 88px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fcce00;
  opacity: 0.81;
  height: 128px;
  text-align: center;
  margin: 8px 0px;
}
h2 {
  /* Default font, size, and margins */
  color: #ffffff;
  font-family: 'Poppins';
  height: 64px;
  font-size: 38px;
  font-weight: 900;
  background-color: #ff6b00;
  opacity: 0.81;
  text-align: center;
  margin: 8px 0px;
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

/**
* ------
* Layout
* ------
*/
.sub-title-one {
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;
  margin: 8px 0px;
}
.sub-title-two{
  height: 16px;
  opacity: 0.81;
  background-color: #b620e0;
  margin: 8px 0px;
}
.sub-title-three {
  height: 8px;
  opacity: 0.81;
  background-color: #6236ff;
  margin: 8px 0px;
}
.box {
  display: flex;
}


/**
* ----------
* Components
* ----------
*/