
/**
* -------------
* Global Styles
* -------------
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body {
  /* Default font family and font color */
  width: 1440px;
  height: 5896px;
  margin: 0 auto;
}
h1 {
  /* Default font, size, and margins */
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 88px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fcce00;
  opacity: 0.81;
  height: 128px;
  text-align: center;
  margin: 8px 0px;
}
h2 {
  /* Default font, size, and margins */
  color: #ffffff;
  font-family: 'Poppins';
  height: 64px;
  font-size: 38px;
  font-weight: 900;
  background-color: #ff6b00;
  opacity: 0.81;
  text-align: center;
  margin: 8px 0px;
}
h3 {
  /* Default font, size, and margins */
  height: 56px;
  color: #231f20;
  font-family: Poppins;
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  margin: 64px 0px;
}
h4 {
  /* Default font, size, and margins */
  font-weight: bold;
  font-family: Poppins;
  color: #231f20;
  font-size: 24px;
  text-align: center;
  margin-bottom: 34px;
  margin-top: 0;
}

/**
* ------
* Layout
* ------
*/
.sub-title-one {
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;
  margin: 8px 0px;
}
.sub-title-two{
  height: 16px;
  opacity: 0.81;
  background-color: #b620e0;
  margin: 8px 0px;
}
.sub-title-three {
  height: 8px;
  opacity: 0.81;
  background-color: #6236ff;
  margin: 8px 0px;
}
.box {
  display: flex;
}
.first-content .box .column-content p {
  width: 640px;
  height: 345px;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
  margin-bottom:40px;
}
.first-content .box div {
  width: 720px;
}
.first-content .box .column-img img {
  width: 487px;
  height: 471px;
  object-fit: contain;
  mix-blend-mode: multiply;
  margin-right: 15px;
}
.first-content .box .column-img {
  width: 720px;
  height: 512px;
  background: #fff;
  background: linear-gradient(to bottom,
rgba(252,206,0, 0.81) 0% 50%,
rgba(252,206,0, 0.61) 50% 75%,
rgba(252,206,0, 0.41) 75% 87.5%,
rgba(252,206,0, 0.21) 87.5% 93.75%,
rgba(252,206,0, 0.05) 93.75% 96.875%,
rgba(252,206,0, 0.01) 96.875% 100%
);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.first-content button.learn-more {
  width: 185px;
  height: 48px;
  border-radius: 15px;
  border: solid 4px #fcce00;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fcce00;
  background: #fff;
  float: right;
}
.column-content {
  padding: 0px 32px 64px 48px;
}
.second-content .box .column-content p {
  width: 640px;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
  margin-bottom:40px;
}
.second-content .box div {
  width: 720px;
}
.second-content .box .column-img img {
  width: 487px;
  height: 471px;
  object-fit: contain;
  mix-blend-mode: multiply;
  margin-right: 15px;
}
.second-content .box .column-img {
  width: 720px;
  height: 512px;
  background: #fff;
  background: linear-gradient(to bottom,
rgba(255,107,0, 0.81) 0% 50%,
rgba(255,107,0, 0.61) 50% 75%,
rgba(255,107,0, 0.41) 75% 87.5%,
rgba(255,107,0, 0.21) 87.5% 93.75%,
rgba(255,107,0, 0.1) 93.75% 96.875%,
rgba(255,107,0, 0.05) 96.875% 100%
);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.second-content button.learn-more {
  width: 185px;
  height: 48px;
  border-radius: 15px;
  border: solid 4px #ff6b00;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ff6b00;
  background: #fff;
  float: right;
}
.second-content .box .column-content,
.second-content .box .column-img {
  margin: 0px 32px 64px 48px;
}
.third-content .box-one,
.third-content .box-two,
.third-content .box-three {
  display: flex;
}
.third-content .column-img img {
  width: 745px;
  height: 576px;
  margin-top: 18px;
  mix-blend-mode: multiply;
  padding-right: 32px;
}
.third-content .column-content {
  width: 694px;
}
.third-content .column-content p {
  width: 487px;
  height: 66px;
  font-family: Poppins;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}
.third-content h4.title-content {
  width: 640px;
  height: 45px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  text-align: unset;
  color: #ffffff;
  margin-top: 64px;
}
.third-content button {
  width: 185px;
  height: 45px;
  border-radius: 15px;
  border: solid 4px #ffffff;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: transparent;
  color: #ffffff;
}
.third-content .box-one {
  width: 1440px;
  height: 640px;
  background: #fff;
  background: linear-gradient(to bottom,
rgba(224, 32, 32, 0.81) 0% 50%,
rgba(224, 32, 32, 0.61) 50% 75%,
rgba(224, 32, 32, 0.41) 75% 87.5%,
rgba(224, 32, 32, 0.21) 87.5% 93.75%,
rgba(224, 32, 32, 0.1) 93.75% 96.875%,
rgba(224, 32, 32, 0.05) 96.875% 100%
);
}
.third-content .box-two {
  width: 1440px;
  height: 640px;
  background: #fff;
  background: linear-gradient(to bottom,
rgba(182, 32, 224, 0.81) 0% 50%,
rgba(182, 32, 224, 0.61) 50% 75%,
rgba(182, 32, 224, 0.41) 75% 87.5%,
rgba(182, 32, 224, 0.21) 87.5% 93.75%,
rgba(182, 32, 224, 0.1) 93.75% 96.875%,
rgba(182, 32, 224, 0.05) 96.875% 100%
);
}
.third-content .box-three {
  width: 1440px;
  height: 640px;
  background: #fff;
  background: linear-gradient(to bottom,
rgba(98, 54, 255, 0.81) 0% 50%,
rgba(98, 54, 255, 0.61) 50% 75%,
rgba(98, 54, 255, 0.41) 75% 87.5%,
rgba(98, 54, 255, 0.21) 87.5% 93.75%,
rgba(98, 54, 255, 0.1) 93.75% 96.875%,
rgba(98, 54, 255, 0.05) 96.875% 100%
);
}
.fourth-content {
  width: 1440px;
}
.fourth-content h3 {
  text-align: center;
  color: #ffffff;
  width: 316px;
  height: 56px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
}
.wrap div {
  height: 320px;
}
.wrap-section {
  width: 1440px;
  height: 2229px;
  background-color: #231f20;
}
.wrap-form h3 {
  margin: 0 auto;
  padding-bottom: 64px;
  margin-bottom: 64px;
  padding-top: 64px;
  width: 316px;
  height: 56px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}
.wrap-form input, .wrap-form select {
  width: 320px;
  height: 38px;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  color: #231f20;
  margin-bottom: 21px;
  padding: 8px;
}
.wrap-form label {
  width: 49px;
  /* height: 23px; */
  font-family: Poppins;
  font-size: 16px;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  padding: 0 8px;
}
.wrap-form .column-one {
  width: 384px;
}
.wrap-form .column-two {
  width: 560px;
}
.wrap-form form {
  margin: 0 248px;
  display: flex;
}
.wrap-form textarea {
  width: 560px;
  height: 212px;
  border-radius: 8px;
  background-color: #ffffff;
}
.wrap-form textarea {
 
  font-family: Poppins;
  padding: 8px;
  font-size: 16px;
  color: #231f20;
}
.fifth-content h3 {
  padding-bottom: 64px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 64px;
  padding-top: 64px;
  width: 316px;
  height: 56px;
}

/**
* ----------
* Media Queries
* ----------
*/

@media screen and (max-width: 350px) {
  body {
    /* Default font family and font color */
    width: 350px;
    margin: 0 auto;
    height: 5281px
  }
  h1 {
    width: 350px;
    height: 128px;
    opacity: 0.81;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  } 
  h2.section-title {
    width: 350px;
  height: 64px;
  opacity: 0.81;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .content h3 {
    width: 320px;
    height: 56px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #231f20;
    margin: 52px 15px 10px 15px;
  }
  .box {
    display: flex;
    flex-direction: column-reverse;
  }
  .box div {
  margin: 0;
  }
  .first-content .box .column-img img {
    width: 236.7px;
    height: 229.1px;
    object-fit: contain;
    mix-blend-mode: multiply;
    margin-right: 7.3px;
  }
  .first-content .box .column-img {
    width: 350px;
    height: 249px;
  }
  .first-content h4.title-content {
    width: 320px;
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #231f20;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .first-content .box .column-content p {
  width: 320px;
  height: 690px;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
  margin: 0 auto;
  }
  .first-content button.learn-more {
    width: 185px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 32px;
    display: flex;
    float: unset;
    justify-content: center;
  }
  .first-content .box .column-content {
    padding: 0;
    width: 350px;
   
  }
  .second-content .box .column-content, .second-content .box .column-img {
    margin: 0;
    padding: 0;
  }
  .second-content .box .column-img  {
    width: 350px;
    height: 248.7px;
    font-family: Poppins;
    font-size: 16px;
    text-align: justify;
    color: #231f20;
    margin-bottom: 40px;
  }
  h4.title-content {
  width: 320px;
  height: 75px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  color: #231f20;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  }
  .second-content .box .column-content p {
  width: 320px;
  font-family: Poppins;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
  margin: 0 auto;
  }
  .learn-more {
  display: none;
  }
  .second-content .box {
    display: flex;
    flex-direction: column;
  }
  .second-content .box .column-img img {
    width: 183.5px;
    height: 236.8px;
  }
  .second-content .box .column-content {
  width: 350px;
  }
  .second-content  .learn-more {
    display: none;
  }
  .third-content .advance-img {
    width: 320px !important;
    height: 247.5px !important;
    object-fit: contain;
    opacity: 0.9;
    mix-blend-mode: darken !important;
    margin: 0 auto;
    margin-left: 15px;
    padding-right : 0 !important;
    margin-top: 0 !important;
  }
  .third-content .windows {
    width: 350px;
    height: 640px;
    display: flex;
    flex-direction: column;
  }
  .third-content h4.title-content {
    width: 320px;
    height: 28px;
    font-family: Poppins;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 33px;
  }
  .third-content .column-content p {
    width: 320px;
    height: 75px;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px !important;
  }
  .third-content button {
    width: 320px;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-bottom: 31px;
  }
  .third-content .column-content {
    padding: 0px;
  }
  .fourth-content h3 {
    width: 320px;
    height: 28px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 45px;
  }
  .fourth-content h3 {
    color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .fourth-content .wrap{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: unset;
    margin: 15px;
  }
  .fourth-content {
    width: 350px;
    height: 972px;
    overflow: hidden;

  }
  .wrap-section {
    width: 350px;
    height: 100%;
    background-color: #231f20;
  }
  .fifth-content {
    display: none;
  }
}